
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Arun Krishna</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="staticfiles/images/Arun.jpg">
					<hr>
					<h4>Hi I'm Arun!</h4>
					<p>I love coding,learning Networking and Hardware</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>About us</h4>
					<hr>
					<p>I completed B.Tech (Information Technology),And I worked in a mobile hardware company as L1 Technician.</p>

					<p>After that I learned Figma,XD,HTML/CSS and C.</p>

					<p>From that I have an intrested in coding and learning Python and Networking.</p>
					
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience </h5>
					<hr>
					<p>I worked as a Ui Ux designer as freelancer.</p>
					<p>Designed,and learned some of the basic web development.And then Im working in zoho based developing platform.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p> Networking,Python,HTML/CSS,Ui and Ux</p>
					<p>PS: Working on Wireshark, Django and GNS3.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>IT Engineer & Learn randomly in all online platforms.</p>

					<p>I can  learn anything form the basics. I just use udemy,coursera and youtubes for my learning purposes.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5> Projects and Goals</h5>
				<hr>
				<p> Personal Portfolio  & Ezhuthathigaram.</p>
				<p>Next we are working to make as a App & learning Networking and Python Automation.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>
